.nav-distance {
    padding: 3.3% 4.3%;
}
@font-face {
    font-family: 'KOTRA_BOLD';
    src: url(font/KOTRA_BOLD.ttf);
}

body {
    font-family: KOTRA_BOLD;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #35465d;
}

.navbar-light .navbar-brand {
    line-height: 1.68;
    text-align: left;
    color: #35465d;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section {
    margin-top: 30px;
}

.h1,
h1 {
    font-size: 2.7rem;
    margin: 1em 0;
    padding-bottom: 1em;
    font-weight: lighter;
}

.title {
    line-height: 1.67;
    text-align: center;
    color: #35465d;
}

.subtitle {
    line-height: 1.53;
    text-align: center;
    color: #35465d;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 0.5rem;
    }
    .navbar-brand {
        font-size: 2rem;
    }

    .logo {
        width: 110px;
        height: 110px;
    }
}

.github-link {
    font-size: 1.75rem;
    line-height: 1.71;
    text-align: center;
    color: #004f9f;
}

.file-upload {
    padding: 15% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #faf3db;
    background-color: #faf3db;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1fb264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1aa059;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #f3953f;
    background-color: #ffffff;
}
.logo {
    width: 110px;
    height: 110px;
    display: block;
    margin: 0px auto;
}
.image-dropping,
.image-upload-wrap:hover {
    background-color: #f3953f;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.resultName {
    font-size: 2.5rem;
    color: #ff843a;
    font-weight: lighter;
}

.resultMessage {
    font-size: 1.8rem;
}

.result {
    display: none;
}

.drag-text {
    text-align: center;
    padding: 10%;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #f3953f;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 90%;
    max-width: 90%;
    margin: auto;
    padding: 20px;
}
.loadingMessage {
    color: #f3953f;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #ff843a;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.upload_message {
    text-align: center;
    font-size: 1.5rem;
}

.slide {
    display: block;
    width: auto;
    letter-spacing: -1px;
    font-size: 11px;
    -webkit-user-select: none;
    margin: 0 auto;
}
.slide input[type='checkbox'] {
    display: none;
}
.slide .slider {
    display: inline-block;
    background: #edeff0;
    border-radius: 16px;
    width: 104px;
    height: 34px;
    position: relative;
    cursor: pointer;
}
.slide .display {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    line-height: 34px;
    transition: all 250ms;
    -webkit-transition: all 250ms;
}

.slide .on {
    margin-left: 40px;
    color: #27343e;
    pointer-events: none;
}
.slide .off {
    margin-right: 40px;
    color: #edeff0;
    pointer-events: auto;
}

.slide input:not(:checked) ~ .on {
    pointer-events: auto;
    color: #edeff0;
}
.slide input:not(:checked) ~ .off {
    pointer-events: none;
    color: #27343e;
}

.slide input:not(:checked) ~ .on:hover,
.slide input:checked ~ .off:hover {
    color: #314554;
}

.slide .switch {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    background: #27343e;
    display: block;
    position: absolute;
    top: -9px;
    left: 0;
    transition: all 250ms;
    -webkit-transition: all 250ms;
}
.slide .switch:hover {
    background-color: #314554;
}
.slide input:checked ~ label .switch {
    left: 100%;
    margin-left: -52px;
}
.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}
/*
  Set the color of the icon
*/


.at-share-btn-elements svg path,
svg rect {
    fill: #ffffff;
}

svg path,
svg rect {
    fill: #ff6700;
}

span#procent {
    margin-top: -25%;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    font-size: 4rem;
    transform: translate(-50%, -50%);
    color: #ff843a;
}

span#procent::after {
    content: '%';
}

.canvas-wrap {
    display: inline-table;
    position: relative;
}